.header-wrap{
    width: 78dvw;
    right: 1em;
    position: absolute;
    height: 100px;
    background: #F4F4F6;
}


@media only screen and (max-width:1200px){
    .header-wrap {
        flex-flow: column nowrap;
        height: 100%;
        width:20dvw;
        right: -250px;
        top:11px;
        position: fixed;
        transition: all 0.5s;
        z-index: 9999;
    }
    .header-wrap2 {
        flex-flow: column nowrap;
        height: 100%;
        width:20dvw;
        width: calc(100vh - 77vh);
        right: 0;
        top:11px;
        position: fixed;
        z-index: 999;
    }
   
.burger-wrap{
    height: 70px;
    position: relative;
    top: -21px;
    background-color: #FFFFFF;
}
}
