.header-menu-wrap{
    position: absolute;
    width: calc(100vw - 4vw);
    top: 0;
    left: 0;
    height: 70px;
    background: #f4f4f6;
    display: none;
}
.header-menu-dote{
    margin-top: 20px;
    position: absolute;
    margin-left: 53px;
}
.header-menu-dote-closed{
    display: none;
}
.header-menu-burger{
    top:10px;
    right: 0;
    position: absolute;
    margin-right: 53px;
}
.header-menu-burger-closed{
    display: none;
}
@media only screen and (max-width:1200px){
    .header-menu-wrap{
        display: block;

    }
    .header-menu-dote{
        position: absolute; 
    }
}
