
.scroll-bar{
    height: calc(100vh - 34vh);
    min-height: auto;
    background-color: #F4F4F6;
    overflow: scroll;
    padding-bottom: 30px;
}
.scroll-bar::-webkit-scrollbar{
    width: 0;
  }
.scrollbar::-webkit-scroll-bar{
     display: none;
}

@media screen and (max-width: 540px) {
    .scroll-bar {
        height: 64.5vh;
    }
}
@media screen and (max-width: 430px) {
    .scroll-bar {
        height: 69vh;
    }
}
@media screen and (max-width: 390px) {
    .scroll-bar {
        height: 68.5vh;
    }
}

@media screen and (max-width: 375px) {
    .scroll-bar {
        height: 62vh;
    }
}
@media screen and (max-width: 360px) {
    .scroll-bar {
        height: 65vh;
    }
}

@media screen and (max-width: 280px) {
    .scroll-bar {
        height: 61vh;
    }
}

