
.scroll-bar{
    height: 67%;
    background-color: #F4F4F6;
    overflow:scroll;
    padding-bottom: 30px;
}
.scroll-bar::-webkit-scrollbar{
    width: 0;
  }
.scrollbar::-webkit-scroll-bar{
     display: none;
}

.skills-bar-wrap{
    min-height: 150px ;
    border-bottom: 3px solid #D4D4D7;
    min-width: 17dvw; 
    
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    margin-top:20px;
    flex-direction: column;

}
@media screen and (max-width: 915px){
    .scroll-bar{
    height: 65%;
    }
}
@media screen and (max-width: 740px){
    .scroll-bar{
    height: 59%;

    }
}

@media screen and (max-height: 935px){
    .scroll-bar{
    height: 66%;

    }
}

@media screen and (max-height: 740px){
    .scroll-bar{
    height: 64%;

    }
}
@media screen and (max-height: 667px){
    .scroll-bar{
    height: 58%;

    }
}