
.scroll-bar{
    height: calc(100vh - 35vh);
    min-height: auto;
    background-color: #F4F4F6;
    overflow: scroll;
    padding-bottom: 30px;
}
.scroll-bar::-webkit-scrollbar{
    width: 0;
  }
.scrollbar::-webkit-scroll-bar{
     display: none;
}

@media screen and (max-width: 540px) {
    .scroll-bar {
        height: 62.5vh;
    }
}
@media screen and (max-width: 430px) {
    .scroll-bar {
        height: 68vh;
    }
}
@media screen and (max-width: 390px) {
    .scroll-bar {
        height: 67.5vh;
        height: calc(100vh - 41.5vh);//// sfter test on phone

    }
}

@media screen and (max-width: 375px) {
    .scroll-bar {
        height: 60vh;
    }
}
@media screen and (max-width: 360px) {
    .scroll-bar {
        height: 64vh;
    }
}

@media screen and (max-width: 280px) {
    .scroll-bar {
        height: 59vh;
    }
}

@media only screen and (max-height:600px){
    .scroll-bar {
        height: calc(100vh - 70vh);
    }
}
@media only screen and (max-height:540px){
    .scroll-bar {
        height: calc(100vh - 50vh);
    }
}
@media only screen and (max-height:280px){
    .scroll-bar {
        height: calc(100vh - 95vh);
    }
}
