main{
  width: 77dvw;
  height: calc(100vh - 14.7vh);
  top:111px;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  }
  
  main::-webkit-scrollbar{
    width: 0;
  }
  @media only screen and (max-width:1200px){
    .main{  
      width: 98dvw;
    }
  }
  @media only screen and (max-width:540px){
    main{  
      top:90px;
    }
  }
  @media only screen and (max-width:375px){
    main{  
      top:80px;
    }
  }




.open{
  width: 100dvw; 
  height: 91%;
  z-index: 2; 
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  transition: right .5s, left .5s;
}

