.baner-button{
  
    margin-right: auto;
    height: 45px;
    font-size: 12px;
    padding: 0 35px;
    font-weight: 600;
    background-color:#0043f1 ;
    border: none;
    color: #E0E0E5;
    cursor: pointer;
 
}
    

.baner-button:hover{
    margin-top: 10px;
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;

}