.contact-wrap{
    width: 100%;
    // min-height: 100%;
    background-color: #EBEBF0;
    .title{
        
        color: #1e1e28;
        font-size: 17px;
        font-weight: 600;
        font-family: "Poppins",sans-serif;
        word-wrap: break-word;
        line-height: 1.2;
        padding-left: 3em;
        padding-top: 3em;
    }
   
}

.contact-form-wrap{
    
    background: linear-gradient(159deg,rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%);
    padding: 30px;
    margin: 30px 15px;
    box-shadow: 0 3px 8px 0 rgba(15,15,20,.2);
    
    .contact-form{
        font-size: 13px;
        line-height: 1.7;
        form{
            display: flex;
            flex-direction: column;
             
             gap:20px;
                .form-group{
                    position: relative;
                    width: 100%;
                    
                }
             label{
                top:7px;
                left: 14px;
                position: absolute;
                font-size: 24px;
                font-weight: 500;
                color: #5c5c6f;
                cursor: text;
             }
             input{
                display: flex;
                margin-left: 0;
                outline: none;
                padding-left: 65px;
                background: #f4f4f6;
                height: 50px;
                width: 94.4%;
                border: none;
                box-shadow: inset 0 1px 4px 0 rgba(15,15,20,.1);
               
              
             }
             
             textarea{
                outline: none;
                border: none;
                background: #f4f4f6;
                padding-left: 15px;
                padding-top: 15px;
                height: 150px;
                border-left: solid 50px #F4F4F6;
                width: 94.4%;
                box-shadow: inset 0 1px 4px 0 rgba(15,15,20,.1);
             }
        }

        .btn{
            width: 100%;
        }
    }
}
