.right-side-wrap {
    min-height: calc(100vh - 3vh);
    height: auto;
    width: 80dvw;
    width: calc(100dvw - 20dvw);

    position: fixed;
    right: -0.25em;
    top: 10px;
    bottom: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}


@media only screen and (max-width:1200px){
    .right-side-wrap{
        width: calc(100dvw - 2dvw);
        right: 0;

    }
}
