.baner-content{
    color: #E0E0E5;
    margin-top: 10px;
    margin-left: 75px;
    font-family:"Courier Prime",monospace ;
}

.print{
    color: white;
    font-size: 22px;
    position:relative;
    top:3px;
}
.code{
    color:  #569CD6;
}