.language-progress-wrap{
    min-height: 120px ;
    border-bottom: 1px solid #D4D4D7;
    min-width: 17dvw; 
    max-width: 89dvw;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

