.info-bar-wrap{
    overflow: hidden;
    min-width: 18dvw;
    height: 97%;

    position: fixed;
    background: #FFFFFF;
    margin-left: 0;
    margin-right: auto;
    top:10px;
    bottom: 10px;
   
}
